@media screen and (max-width: 415px) {
  /*Header*/
  .menu {
    display: none;
  }
  .menu-btn {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    box-shadow: none;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #fff;
    outline: none;
  }
}