.advantage {
  background-color: #fff;
  position: relative;
  border: 1px solid;
  border-color: rgba(180, 194, 198, 0.644);
  margin: 0 0 100px 0;
}
@media (max-width: 415px) {
  .advantage {
    height: auto;
    padding-bottom: 110px;
  }
}
@media (max-width: 415px) {
  .advantage_text {
    margin-left: -114px;
    padding: 0 22px 45px 30px;
    width: 280px;
  }
}
.advantage_title {
  font-size: 87px;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: relative;
  top: -14px;
  left: -5px;
}
@media (max-width: 415px) {
  .advantage_title {
    word-wrap: break-word;
    font-size: 52px;
    width: 70%;
    top: -8px;
    left: -3px;
    width: 230px;
  }
}
.advantage_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 0 0;
}
.advantage_list_item {
  width: 549px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantage_list_item_number {
  font-size: 126px;
  font-weight: bolder;
  color: #A3D4F2;
  letter-spacing: 15px;
  padding: 0 30px 0 0;
  width: 160px;
  margin-left: -6px;
}
@media (max-width: 415px) {
  .advantage_list_item_number {
    font-size: 80px;
    width: auto;
    margin-left: -3px;
    padding-right: 0;
  }
}
.advantage_list_item_text-wrapper {
  width: 315px;
}
@media (max-width: 415px) {
  .advantage_list_item_text-wrapper {
    width: 230px;
  }
}
.advantage_list_item_title {
  font-size: 44px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 56px;
  width: 100%;
  padding: 12px 0 30px 0;
}
@media (max-width: 415px) {
  .advantage_list_item_title {
    font-size: 28px;
    width: 200px;
    line-height: 34px;
  }
}
