.club-wrapper {
  position: relative;
  margin: 0 0 50px;
}

.club {
  width: 1184px;
  height: 735px;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}
@media (max-width: 415px) {
  .club {
    width: 380px;
    height: auto;
  }
}
.club_title {
  font-size: 87px;
  color: #F7F7F7;
  text-transform: uppercase;
  width: 100%;
  height: 120px;
  margin: -15px 0 15px -5px;
  letter-spacing: 10px;
}
@media (max-width: 415px) {
  .club_title {
    font-size: 52px;
    margin: -8px 0 33px -2px;
  }
}
.club_blue-block {
  width: 550px;
  height: 340px;
  background-color: #A3D4F2;
}
@media (max-width: 415px) {
  .club_blue-block {
    width: 345px;
    height: 195px;
    padding: 15px 27px 18px 34px;
  }
}
.club_blue-block_subtitle {
  font-size: 46px;
  color: #012950;
  padding: 30px 30px 0 60px;
  letter-spacing: 5px;
}
@media (max-width: 415px) {
  .club_blue-block_subtitle {
    font-size: 28px;
    line-height: 38px;
    padding: 0;
  }
}
.club_blue-block_subtitle::before {
  content: '';
  width: 36px;
  height: 5px;
  background-color: #012950;
  position: absolute;
  top: 170px;
  left: 0;
}
@media (max-width: 415px) {
  .club_blue-block_subtitle::before {
    width: 20px;
    height: 2px;
    top: 175px;
  }
}
.club_text-wrapper {
  width: 480px;
  margin-right: 90px;
}
@media (max-width: 415px) {
  .club_text-wrapper {
    margin: 0;
    padding: 25px 35px 75px 30px;
  }
}
.club_mask {
  background-image: url("../../static/img/digital-transform/mask.png");
  width: 287px;
  height: 200px;
  position: absolute;
  left: -95px;
  bottom: 5px;
}
@media (max-width: 415px) {
  .club_mask {
    width: 130px;
    height: 212px;
    right: 0;
    bottom: -150px;
    left: 71%;
    z-index: 2;
  }
}
.club_border-left {
  height: 800px;
  top: -65px;
}
.club_border-middle {
  height: 1562px;
  top: 120px;
  right: 550px;
  z-index: 1;
}
