.digital-transform {
  height: 560px;
  width: 1100px;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  border-left: 2px solid;
  border-color: #B4C2C6;
  z-index: -2;
}
.digital-transform_blue-block {
  height: 125px;
  width: 550px;
  background-color: #A3D4F2;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
}
.digital-transform_blue-block_image {
  padding: 0 0 0 30px;
}
.digital-transform_darkblue-block {
  height: 220px;
  width: 980px;
  background-color: #012950;
  display: flex;
  align-items: center;
  z-index: 1;
}
.digital-transform_gray-block {
  height: 165px;
  width: 535px;
  background-color: #EAEAEA;
  position: absolute;
  left: 60%;
  top: 26%;
}
.digital-transform_image-wrapper {
  position: absolute;
  left: 57%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digital-transform_image {
  
}
.digital-transform_head {
  color: #012950;
  padding: 50px 0 0 55px;
  z-index: 2;
}
.digital-transform_title {
  font-size: 56px;
  width: 540px;
  list-style-type: circle;
  text-transform: uppercase;
  padding: 0 0 20px 0;
  letter-spacing: 4px;
}
.digital-transform_title::before {
  content: '';
  width: 36px;
  height: 5px;
  background-color: #012950;
  position: absolute;
  top: 80px;
  left: 0;
}
.digital-transform_subtitle {
  font-size: 30px;
  font-family: "akrobat-light";
  font-weight: normal;
}
.digital-transform_item {
  /*font-family: "akrobat-semibold";*/
  font-size: 15px;
  color: white;
  border-bottom: 1px solid transparent;
  border-color: white;
  letter-spacing: 1px;
  padding: 18px 0 0 0;
}
.digital-transform_item:first-child {
  padding: 0;
}
.digital-transform_list {
  padding: 0 0 0 55px;
}
.digital-transform_list:first-child {
  width: 250px;
}
.digital-transform_list:last-child {
  width: 250px;
  padding: 0 0 0 40px;
  line-height: 20px;
}
.digital-transform_image-wrapper_link {
  position: absolute;
  width: 200px;
  top: 92%;
  right: 25%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 2px;
}
.digital-transform_image-wrapper_arrow {
  width: 85px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 65%;
}
.digital-transform_image-wrapper_arrow::before {
  content: '';
  width: 8px;
  height: 1px;
  background-color: white;
  bottom:3px;
  left: 77px;
  position: absolute;
  transform: rotate(45deg)
}
.digital-transform_image-wrapper_arrow::after {
  content: '';
  width: 8px;
  height: 1px;
  background-color: white;
  top: 3px;
  left: 77px;
  position: absolute;
  transform: rotate(-45deg)
}
.digital-transform_mask-left {
  background-image: url('../../static/img/digital-transform/mask.PNG');
  position: absolute;
  width: 200px;
  height: 250px;
  top: 5%;
  left: -11%;
}
.digital-transform_mask-right {
  background-image: url('../../static/img/digital-transform/mask.PNG');
  width: 270px;
  height: 220px;
  position: absolute;
  right: -9%;
  top: 35%;
}
.digital-transform_blue-block_border-left {
  left: 50%;
  height: 700px;
}
.digital-transform_blue-block_border-right {
  right: 0;
  height: 700px;
}
.digital-transform_gray-block_border {
  height: 590px;
  left: 60%;
  top: -50%;
  z-index: -1;
}
