.feedback {
  width: 1100px;
  height: 908px;
  padding: 0 95px;
  position: relative;
  background-color: #012950;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feedback_info {
  width: 480px;
}
.feedback_info_title {
  font-size: 32px;
  color: #fff;
  width: 1100px;
  padding: 0 0 50px 0;
}
.feedback_info_contacts {
  color: #fff;
  padding: 15px 0 40px 40px;
  border-left: 2px solid #6E95BA;
}
.feedback_form {
  width: 549px;
  display: flex;
  flex-direction: column;
  padding: 0 0 170px 0;
}
.feedback_form_input {
  outline: none;
  -webkit-appearance: none;
  background-color: #012950;
  width: 549px;
  height: 56px;
  margin-bottom: 20px;
  border: 1px solid #6E95BA;
  font-size: 18px;
  color: #fff;
  padding: 0 0 0 20px;
}
.feedback_form_input::placeholder {
  color: #fff;
}
.feedback_form_input:nth-child(4) {
  padding-bottom: 73px;
  margin-bottom: 50px;
}
.feedback_form_button {
  width: 178px;
  height: 56px;
  background-color: #fff;
  color: #012950;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.feedback_footer {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.feedback_footer_text {
  color: #fff;
}