.feedback {
  height: 908px;
  padding: 0 95px;
  position: relative;
  background-color: #012950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 415px) {
  .feedback {
    padding: 0 35px;
    height: auto;
    width: 345px;
  }
}
.feedback_info {
  width: 480px;
}
.feedback_info_title {
  font-size: 32px;
  color: #fff;
  width: 1100px;
  padding: 0 0 50px 0;
}
@media (max-width: 415px) {
  .feedback_info_title {
    font-size: 28px;
    width: auto;
  }
}
.feedback_info_contacts {
  color: #fff;
  padding: 15px 0 40px 40px;
  border-left: 2px solid #6E95BA;
}
@media (max-width: 415px) {
  .feedback_info_contacts {
    width: 225px;
    padding: 15px 25px;
    margin-bottom: 65px;
  }
}
.feedback_form {
  width: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 140px 0;
}
.feedback_form_input {
  outline: none;
  -webkit-appearance: none;
  background-color: #012950;
  width: 529px;
  height: 56px;
  margin-bottom: 20px;
  border: 1px solid #6E95BA;
  font-size: 18px;
  color: #fff;
  padding: 0 0 0 20px;
}
@media (max-width: 415px) {
  .feedback_form_input {
    width: 324px;
    height: 48px;
  }
}
.feedback_form_input::-webkit-input-placeholder {
  color: #fff;
}
.feedback_form_input:-ms-input-placeholder {
  color: #fff;
}
.feedback_form_input::-ms-input-placeholder {
  color: #fff;
}
.feedback_form_input::placeholder {
  color: #fff;
}
.feedback_form_input:nth-child(4) {
  padding-bottom: 73px;
  margin-bottom: 50px;
}
.feedback_form_button {
  width: 178px;
  height: 56px;
  background-color: #fff;
  color: #012950;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.feedback_footer {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 415px) {
  .feedback_footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.feedback_footer_text {
  color: #fff;
}
@media (max-width: 415px) {
  .feedback_footer_text {
    padding-left: 45px;
  }
}
.feedback_border-right {
  height: 680px;
  right: 68px;
  top: -150px;
}
@media (max-width: 415px) {
  .feedback_border-right {
    display: none;
  }
}
