.header {
  padding: 50px 95px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation_border {
  height: 1556px;
  z-index: 1;
}

@media (max-width: 415px) {
  .menu_active {
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
    background-color: #012950 !important;
  }
}
@media (max-width: 415px) {
  .menu {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #012950;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 35px 80px 10% 35px;
    outline: none;
    padding: 25px 35px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72%;
}
@media (max-width: 415px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu-item {
  text-transform: uppercase;
  padding: 0 0 0 50px;
  font-size: 16px;
  letter-spacing: 2px;
}
@media screen and (max-width: 415px) {
  .menu-item {
    padding: 0 0 60px 0;
    width: 70%;
    color: #fff;
    margin-bottom: 55px;
    line-height: 35px;
    padding-bottom: 6px;
    border-bottom: 1px solid #B4C2C6;
  }
  .menu-item::first-child {
    padding-bottom: 50px !important;
  }
}
.menu-item:first-child {
  padding-left: 0;
}
.menu-item_link {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
@media screen and (max-width: 415px) {
  .menu-item_link {
    font-size: 27px;
    white-space: normal;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-size: 27px;
    text-decoration: none;
  }
}
.menu-btn {
  display: none;
}

.logo {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo_inverse {
  display: none;
}
@media (max-width: 415px) {
  .logo_inverse {
    display: block;
    margin-bottom: 100px;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 4px;
  }
}

@media screen and (max-width: 415px) {
  .header {
    padding: 25px 35px;
  }

  .menu-btn {
    display: block;
    position: relative;
    z-index: 6;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: transparent;
    outline: none !important;
  }

  .menu-btn-inner {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 4px;
    background: black;
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
  }

  .menu-btn-inner::before,
  .menu-btn-inner::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    content: "";
    -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
            transition-delay: 0.3s, 0;
  }

  .menu-btn-inner::before {
    top: -10px;
  }

  .menu-btn-inner::after {
    bottom: -10px;
  }

  .menu_active span {
    background: none;
  }

  .menu_active span:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0px;
    background-color: #fff;
  }

  .menu_active span:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0px;
    background-color: #fff;
  }

  .menu_active span::before,
  .menu_active span::after {
    -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
  }
}
