.partners {
  width: 1195px;
  height: 520px;
  position: absolute;
  left: 0;
  background-color: #A3D4F2;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.partners_title {
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 87px;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.partners_content-mts {
  width: 480px;
  padding: 25px 0 0 95px;
}
.partners_content-mircod {
  width: 480px;
  padding: 25px 0 0 75px;
}
.partners_content_image {
  padding: 0 0 35px;
}
.image-mts {
  margin-bottom: 10px;
}
.partners_content_title {
  padding: 0 0 15px 0;
}
.partners_mask-top {
  background-image: url('../../static/img/digital-transform/mask.png');
  width: 590px;
  height: 50px;
  position: absolute;
  left: 0;
  top: -50px;
}
.partners_mask-bottom {
  background-image: url('../../static/img/digital-transform/mask-white.png');
  width: 590px;
  height: 70px;
  position: absolute;
  left: 0;
  top: -6px;
}