.videoblock-3 {
  height: 730px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 65px 0;
}
@media (max-width: 415px) {
  .videoblock-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
  }
}
.videoblock-3_mask {
  width: 348px;
  height: 147px;
  background-image: url("../../static/img/digital-transform/mask.png");
  position: absolute;
  right: -65px;
  bottom: 45px;
}
@media (max-width: 415px) {
  .videoblock-3_mask {
    display: none;
  }
}
