.videoblock-1 {
  height: 640px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 65px 0;
}
@media (max-width: 415px) {
  .videoblock-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
  }
}
.videoblock-1_integrator {
  background-color: whitesmoke;
}
.videoblock-1_production {
  background-color: #fff;
}
.videoblock-1_integrator, .videoblock-1_production {
  border: 1px solid;
  border-color: rgba(180, 194, 198, 0.644);
}
.videoblock-1_image {
  cursor: pointer;
}
@media (max-width: 415px) {
  .videoblock-1_image {
    width: 343px;
  }
}
.videoblock-1_text {
  padding: 30px 40px;
  height: 250px;
}
@media (max-width: 415px) {
  .videoblock-1_text {
    height: auto;
  }
}
.videoblock-1_text_title {
  font-size: 32px;
  color: #012950;
  padding: 0 0 15px 0;
}
.videoblock-1_text_button {
  top: 90%;
}
.videoblock-1_text_button_arrow {
  width: 85px;
  height: 1px;
  background-color: #A3D4F2;
  position: absolute;
  left: 90px;
  bottom: 8px;
}
.videoblock-1_text_button_arrow::before {
  content: '';
  width: 8px;
  height: 1px;
  background-color: #A3D4F2;
  bottom: 3px;
  left: 77px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.videoblock-1_text_button_arrow::after {
  content: '';
  width: 8px;
  height: 1px;
  background-color: #A3D4F2;
  top: 3px;
  left: 77px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.more-btn {
  position: absolute;
  text-decoration: none;
  color: #A3D4F2;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 415px) {
  .more-btn {
    position: relative;
    line-height: 4;
  }
}
