.advantage {
  background-color: #fff;
  position: relative;
  border: 1px solid;
  border-color: rgba(180, 194, 198, 0.644);
  margin: 0 0 100px 0;

  @media (max-width: 415px) {
    height: auto;
    padding-bottom: 110px;
  }

  &_text {
    @media (max-width: 415px) {
      margin-left: -114px;
      padding: 0 22px 45px 30px;
      width: 280px;
    }
  }

  &_title {
    font-size: 87px;
    color: #F7F7F7;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: relative;
    top: -14px;
    left: -5px;

    @media (max-width: 415px) {
      word-wrap: break-word;
      font-size: 52px;
      width: 70%;
      top: -8px;
      left: -3px;
      width: 230px;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 0;

    &_item {
      width: 549px;
      height: 350px;
      display: flex;

      &_number {
        font-size: 126px;
        font-weight: bolder;
        color: #A3D4F2;
        letter-spacing: 15px;
        padding: 0 30px 0 0;
        width: 160px;
        margin-left: -6px;

        @media (max-width: 415px) {
          font-size: 80px;
          width: auto;
          margin-left: -3px;
          padding-right: 0;
        }
      }

      &_text-wrapper {
        width: 315px;

        @media (max-width: 415px) {
          width: 230px;
        }
      }

      &_title {
        font-size: 44px;
        letter-spacing: 4px;
        text-transform: uppercase;
        line-height: 56px;
        width: 100%;
        padding: 12px 0 30px 0;

        @media (max-width: 415px) {
          font-size: 28px;
          width: 200px;
          line-height: 34px;
        }
      }
    }
  }
}