$dark: #012950;
$gray: #EAEAEA;
$blue: #A3D4F2;
$light-blue: #B4C2C6;
$mobile: 415px;
$mask: url('../../static/img/digital-transform/mask.png');

.digital {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  margin-bottom: 100px;

  @media (max-width: $mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &:before {
    content: '';
    width: 203px;
    height: 252px;
    background-image: $mask;
    position: absolute;
    left: -95px;
    top: 20px;
    @media (max-width: $mobile) {
      width: 105px;
      height: 176px;
      right: -22px;
      left: auto;
      top: 45px;
    }
  }

  &:after {
    content: '';
    width: 269px;
    height: 223px;
    background-image: $mask;
    position: absolute;
    right: -100px;
    bottom: 125px;
    z-index: 4;
    @media (max-width: $mobile) {
      width: 119px;
      height: 250px;
      right: auto;
      left: -35px;
      bottom: 40%;
    }
  }

  &_info {
    padding: 40px 60px;
    position: relative;
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
      padding-left: 30px;
    }

    &-title {
      font-size: 58px;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 67px;
      margin-bottom: 20px;
      color: $dark;
      @media (max-width: $mobile) {
        font-size: 40px;
      }

      &::before {
        content: '';
        width: 36px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        top: 70px;
        left: 0;
        @media (max-width: $mobile) {
          width: 24px;
        }
      }
    }

    &-subtitle {
      font-size: 30px;
      font-family: "akrobat-light";
      font-weight: normal;
    }
  }

  &_aside {
    width: 50%;

    &-blue {
      height: 125px;
      background-color: $blue;
      padding: 30px;
      box-sizing: border-box;
      margin-bottom: 20px;
      z-index: 2;
      position: relative;
      @media (max-width: $mobile) {
        width: 382px;
        right: 35px;
      }

      &::before {
        content: '';
        background-color: $light-blue;
        height: 1038px;
        width: 1px;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: '';
        background-color: $light-blue;
        height: 1007px;
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &-image {
      height: 60px;
      object-fit: contain;
    }

    &-gray {
      height: 166px;
      background-color: $gray;
      position: relative;
      left: 100px;
      margin-bottom: 20px;
      z-index: 1;
      @media (max-width: $mobile) {
        width: 315px;
        left: 65px;
      }

      &::before {
        content: '';
        background-color: $light-blue;
        height: 460px;
        width: 1px;
        position: absolute;
        bottom: 166px;
        left: 0;
        @media (max-width: $mobile) {
          right: 33px;
          bottom: 153px;
          left: auto;
        }
      }
    }
  }

  &_footer {
    background-color: $dark;
    padding: 20px 60px;
    max-width: 976px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    @media (max-width: $mobile) {
      width: 381px;
      left: -35px;
      padding: 260px 0 100px 35px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 50%;
      max-height: 185px;

      @media (max-width: 415px) {
        max-width: none;
        max-height: none;
      }
    }

    &-item {
      line-height: 22px;
      margin-bottom: 12px;
      margin-right: 40px;
      max-width: 235px;
      border-bottom: 1px solid #fff;
      color: #fff;
      @media (max-width: $mobile) {
        font-size: 18px;
        min-width: 290px;
      }
    }

    &-aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 32px;
      right: 60px;
      @media (max-width: $mobile) {
        top: 125px;
        right: 20px;
        bottom: auto;
      }
    }

    &-image {
      position: absolute;
      bottom: 0;
      @media (max-width: 415px) {
        width: 308px;
      }
    }

    &-link {
      letter-spacing: 2px;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-arrow {
      width: 85px;
      height: 1px;
      background-color: white;
      position: relative;
      left: 10px;
      display: block;

      &::before {
        content: '';
        width: 8px;
        height: 1px;
        background-color: white;
        bottom: 3px;
        right: 0;
        position: absolute;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        width: 8px;
        height: 1px;
        background-color: white;
        top: 3px;
        right: 0;
        position: absolute;
        transform: rotate(-45deg)
      }
    }
  }
}
