.feedback {
  height: 908px;
  padding: 0 95px;
  position: relative;
  background-color: #012950;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 415px) {
    padding: 0 35px 40px;
    height: auto;
    width: 345px;
  }

  &_info {
    width: 480px;

    &_title {
      font-size: 32px;
      color: #fff;
      width: 1100px;
      padding: 0 0 50px 0;

      @media (max-width: 415px) {
        font-size: 28px;
        width: auto;
      }
    }

    &_contacts {
      color: #fff;
      padding: 15px 0 40px 40px;
      border-left: 2px solid #6E95BA;

      @media (max-width: 415px) {
        width: 225px;
        padding: 15px 25px;
        margin-bottom: 65px;
      }
    }
  }

  &_form {
    width: 524px;
    display: flex;
    flex-direction: column;
    padding: 0 0 140px 0;

    @media (max-width: 415px) {
      position: relative;
      padding-bottom: 220px;
    }

    &_input {
      outline: none;
      -webkit-appearance: none;
      background-color: #012950;
      width: 529px;
      height: 56px;
      margin-bottom: 20px;
      border: 1px solid #6E95BA;
      font-size: 18px;
      color: #fff;
      padding: 0 0 0 20px;

      @media (max-width: 415px) {
        width: 324px;
        height: 48px;
      }

      &::placeholder {
        color: #fff;
      }

      &:nth-child(4) {
        padding-bottom: 73px;
        margin-bottom: 50px;
      }
    }

    &_button {
      width: 178px;
      height: 56px;
      background-color: #fff;
      color: #012950;
      font-size: 27px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &-link {
      display: block;
      position: absolute;
      bottom: 52px;
      right: 10px;
      width: 30px;
      height: 30px;
      border-top: 4px solid #fff;
      border-right: 4px solid #fff;
      transform: rotate(-45deg);

      @media (min-width: 416px) {
        display: none;
      }
    }
  }

  &_footer {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 415px) {
      align-items: center;
    }

    &_text {
      color: #fff;

      @media (max-width: 415px) {
        padding-left: 45px;
      }
    }
  }

  &_border-right {
    height: 680px;
    right: 68px;
    top: -150px;

    @media (max-width: 415px) {
      display: none;
    }
  }
}