.header {
  padding: 50px 95px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_border {
    height: 1556px;
    z-index: 1;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 72%;
  &-item {
    text-transform: uppercase;
    padding: 0 0 0 50px;
    font-size: 16px;
    letter-spacing: 2px;
    @media screen and (max-width: 415px) {
      padding: 0 0 60px 0;
      width: 70%;
    }
    
    &:first-child {
      padding-left: 0;
    }
    &_link {
      text-decoration: none;
      color: black;
      @media screen and (max-width: 415px) {
        font-size: 27px;
      }
    }
  }
}

.logo {
  width: 115px;
  height: 37px;
}
.menu-btn {
  display: none;
}

@media screen and (max-width: 415px) {

.header {
  padding: 25px 0;
}  

.logo {
  z-index: 6;
  background-image: url(../../static/img/feedback/logo-inverse.png);
}

.menu {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #012950;
  transition: 0.5s;
  transform: translateX(200%);
  color: #fff;
  &-item {
    color: #fff;
    @media screen and (max-width: 415px) {
      padding-bottom: 60px;
      line-height: 35px;
    }
    &_link {
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      border-bottom: 1px solid #B4C2C6;
      @media screen and (max-width: 415px) {
        font-size: 27px;
      }
    }
    &::first-child {
      padding-bottom: 50px !important;
    }
  }
}

.menu_active {
  transform: translateX(0%);
  outline: none !important;
  background-color: #012950 !important;
  left: 0;
  bottom: 0;
  padding: 0 80px 100px 35px;
}

.menu-btn {
  display: block;
  position: relative;
  z-index: 6;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background-color: rgb(245, 245, 245);
  outline: none !important;
}

.menu-btn-inner {
  display: block;
  position: absolute;
  top: 25px;
  left: 5px;
  right: 5px;
  height: 4px;
  background: rgb(0, 0, 0);
  transition: background 0 0.3s;
}

.menu-btn-inner::before,
.menu-btn-inner::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(0, 0, 0);
  content: "";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}

.menu-btn-inner::before {
  top: -19px;
}

.menu-btn-inner::after {
  bottom: -19px;
}

.menu_active span {
  background: none;
}

.menu_active span:before {
  transform: rotate(-45deg);
  top: 0px;
}

.menu_active span:after {
  transform: rotate(45deg);
  bottom: 0px;
}

.menu_active span::before,
.menu_active span::after {
  transition-delay: 0, 0.3s;
}

}

