@font-face {
  font-family: "akrobat-regular";
  src: url('../../static/fonts/Akrobat-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akrobat-extrabold";
  src: url('../../static/fonts/Akrobat-ExtraBold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "akrobat-light";
  src: url('../../static/fonts/Akrobat-Light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akrobat-semibold";
  src: url('../../static/fonts/Akrobat-SemiBold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;

  &.hidden-overflow {
    overflow: hidden;
  }
}

body {
  font-family: "akrobat-regular";
  background-color: rgb(245, 245, 245);

  @media screen and (max-width: 415px) {
    overflow-x: hidden;
  }
}

h22 {
  font-family: "akrobat-bold", sans-serif;
}

li {
  list-style-type: none;
  font-family: "akrobat-semibold";
}

ul,
li,
p,
h2,
h3,
span {
  margin: 0;
  padding: 0;
}

.main,
.header,
.footer {
  width: 100%;
  max-width: 1100px;
  padding: 0 95px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 415px) {

  .main,
  .header,
  .footer {
    width: 100%;
    max-width: 345px;
    padding: 0 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

.border {
  width: 1px;
  position: absolute;
  background-color: rgba(180, 194, 198, 0.644);
}

.standart-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: lighter;
}

.border-gray {
  width: 1px;
  background-color: rgba(180, 194, 198, 0.644);
  position: absolute;
}