.news {
  position: relative;
  margin-bottom: 150px;
  &_head {
    display: flex;
    @media (max-width: 415px)  {
      flex-direction: column;
      margin-bottom: 10px;
      margin-bottom: 4px;
    }
    &_title {
      width: 550px;
      font-size: 87px;
      color: #EAEAEA;
      text-transform: uppercase;
      letter-spacing: 10px;
      position: relative;
      top: -5px;
      left: -3px;
      @media (max-width: 415px)  {
        font-size: 48px;
        width: auto;
      }
    }
    &_subtitle-wrapper {
      width: 550px;
      position: relative;
      bottom: -11px;
      @media (max-width: 415px) {
        width: auto;
      }
    }
    &_subtitle {
      font-size: 46px;
      color: #012950;
      letter-spacing: 5px;
      padding: 0 0 0 50px;
      @media (max-width: 415px) {
        font-size: 28px;
        letter-spacing: 3px;
        padding: 0 0 0 35px;
        width: auto;
      }
      &::before {
        content: '';
        width: 36px;
        height: 5px;
        background-color: #012950;
        position: absolute;
        top: 22px;
        left: 0;
        @media (max-width: 415px)  {
          width: 20px;
          height: 3px;
        }
      }
    }
  }
  &_main {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    @media (max-width: 415px) {
    border-color: rgba(180, 194, 198, 0.644);
    }
    &_item {
      width: 407px;
      height: 315px;
      border: 1px solid;
      border-color: rgba(180, 194, 198, 0.644);
      padding: 35px 100px 0 40px;
      @media (max-width: 415px)  {
        height: auto;
        border-bottom: none;
        border-top: none;
        padding-right: 91px;
      }
      &_date {
        color: #A3D4F2;
        padding: 0 0 20px 0;
        letter-spacing: 2px;
      }
      &_title {
        font-size: 32px;
        color: #012950;
        padding: 0 0 20px 0;
      }
      &_text {
        padding: 0 0 30px 0;
      }
    }
  }
  &_mask-top {
    background-image: url('../../static/img/digital-transform/mask.png');
    height: 50px;
    width: 360px;
    position: absolute;
    right: -95px;
    top: 13px;
    @media (max-width: 415px)  {
      width: 162px;
      height: 196px;
      right: -32px;
      top: -148px;
    }
  }
  &_mask-bottom {
    background-image: url('../../static/img/digital-transform/mask.png');
    height: 204px;
    width: 326px;
    position: absolute;
    left: -95px;
    bottom: -120px;
    z-index: -1;
  }
}